.features {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
}

.location-map {
  display: flex;
  position: relative;
}

.porsche-car-img {
  position: absolute;
  left: 10px;
  top: 10px;
}

.car-info-section {
  max-width: 354px;
  width: 100%;
}

.car-info-popup {
  border-radius: 20px;
  max-width: 127px;
  width: 100%;
  background: #ffffff1a;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}

.car-info-popup1 {
  position: absolute;
}

.car-info-h3 {
  font-family: "exo-semibold";
  font-size: 20px;
  font-weight: 600px;
  color: var(--text-color);
  padding: 9px 44px 7px 45px;
}

.car-info-p {
  font-family: "exo-regular";
  font-size: 13px;
  font-weight: 400;
  color: var(--text-color);
  max-width: 48px;
  width: 100%;
  display: flex;
  text-align: center;
  padding: 0 39px 12px 40px;
}
