.car-information-container {
  display: flex;
  background-color: var(--bg-color);
  gap: 88px;
  justify-content: center;
  padding: 72px 155px 88px;
}

.car-interior-container {
  position: relative;
}

.car-interior {
}

.car-info-popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 197px;
  padding: 15px 0px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  right: 0;
  bottom: 0;
  transform: translateY(50%);
  border-radius: 20px;
  width: 100%;
}

.car-info-popup p {
  font-family: "exo-semibold", Arial, Helvetica, sans-serif;
  color: var(--text-color);
  margin-bottom: 8px;
}

.car-info-popup span {
  font-family: "exo-regular" Arial, Helvetica, sans-serif;
  color: var(--text-color);
  max-width: 157px;
  width: 100%;
}

.future-tech-container {
  display: flex;
  max-width: 401px;
  flex-direction: column;
}

.future-tech-container h2 {
  font-family: "exo-semibold", Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: var(--text-color5);
}

.future-tech-container p {
  font-family: "exo-regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--text-color3);
  margin: 24px 0px 48px;
}

.know-more-button {
  background-color: var(--text-color2);
  border: none;
  width: 149px;
  height: 50px;
  border-radius: 4px;
  font-family: "exo-medium", Arial, Helvetica, sans-serif;
  color: var(--text-color);
}
