.car-brand-logo-section {
  display: flex;
  justify-content: center;
  background-color: black;
  margin: 0 auto;
  gap: 106px;
  padding: 76px 225px 76px;
}

.car-brand-logo-section img {
  width: 50px;
  height: 50px;
}

@media (max-width: 1062px) {
  .car-brand-logo-section {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .car-brand-logo-section img {
    height: 40px;
  }
}
